step_functions/pipeline_definition.json
{
  "Comment": "SageMaker ML Pipeline — ingest → transform → train → evaluate → deploy",
  "StartAt": "Ingest",
  "States": {
    "Ingest": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
      "Parameters": {
        "ProcessingJobName.$": "States.Format('ingest-{}', $$.Execution.Name)",
        "ProcessingInputs": [
          {
            "InputName": "raw-data",
            "S3Input": {
              "S3Uri.$": "$.raw_data_s3_uri",
              "LocalPath": "/opt/ml/processing/input",
              "S3DataType": "S3Prefix",
              "S3InputMode": "File"
            }
          }
        ],
        "ProcessingOutputConfig": {
          "Outputs": [
            {
              "OutputName": "ingested-data",
              "S3Output": {
                "S3Uri.$": "$.ingested_s3_uri",
                "LocalPath": "/opt/ml/processing/output",
                "S3UploadMode": "EndOfJob"
              }
            }
          ]
        }
      },
      "Next": "Transform",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "Transform": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
      "Parameters": {
        "ProcessingJobName.$": "States.Format('transform-{}', $$.Execution.Name)"
      },
      "Comment": "ETL: missing value imputation, feature encoding, train/val/test split",
      "Next": "Train",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "Train": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName.$": "States.Format('train-{}', $$.Execution.Name)",
        "AlgorithmSpecification": {
          "TrainingInputMode": "File",
          "TrainingImage": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-xgboost:1.7-1"
        },
        "HyperParameters": {
          "max_depth": "5",
          "eta": "0.2",
          "gamma": "4",
          "min_child_weight": "6",
          "subsample": "0.8",
          "objective": "binary:logistic",
          "num_round": "100"
        },
        "ResourceConfig": {
          "InstanceCount": 1,
          "InstanceType": "ml.t3.medium",
          "VolumeSizeInGB": 10
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds": 3600
        }
      },
      "Next": "Evaluate",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "Evaluate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
      "Parameters": {
        "ProcessingJobName.$": "States.Format('evaluate-{}', $$.Execution.Name)"
      },
      "Comment": "Compute accuracy, F1, AUC-ROC. Write evaluation.json to S3.",
      "Next": "QualityGate",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "QualityGate": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.evaluation.metrics.f1_score",
          "NumericGreaterThan": 0.75,
          "Next": "Deploy"
        }
      ],
      "Default": "ModelBelowThreshold",
      "Comment": "Only deploy if F1 > 0.75"
    },
    "Deploy": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createEndpoint.sync",
      "Parameters": {
        "EndpointName": "sagemaker-pipeline-demo",
        "EndpointConfigName.$": "States.Format('config-{}', $$.Execution.Name)"
      },
      "Next": "PipelineSucceeded"
    },
    "PipelineSucceeded": {
      "Type": "Succeed"
    },
    "ModelBelowThreshold": {
      "Type": "Fail",
      "Error": "ModelQualityBelowThreshold",
      "Cause": "Model F1 score did not meet the 0.75 threshold for deployment"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineStepFailed",
      "Cause.$": "$.error"
    }
  }
}
